main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#reset {
  margin: 20px;
}
#greater-than-zero, #less-than-hundred {
  color: #95003c;
}
